<!-- admin-dashboard.component.html -->
<h1>Admin Dashboard</h1>
<nav>
  <button (click)="showView('approve')">Approve Users</button>
  <button (click)="showView('student-crud')">Student CRUD</button>
  <button (click)="showView('teacher-crud')">Teacher CRUD</button>
</nav>

<div *ngIf="currentView === 'approve'">
 <app-approve-user></app-approve-user>
</div>

<div *ngIf="currentView === 'student-crud'">
  <app-student-crud></app-student-crud>
</div>

<div *ngIf="currentView === 'teacher-crud'">
  <app-teacher-crud></app-teacher-crud>
</div>
